{% extends 'base.html' %}
{% include '_navbar_index.html' %}
{% block content %}
    <h1>Welcome to the Bank Application</h1>
    <p>Choose an action:</p>
    <ul>
        <li><a href="/accounts">View accounts</a></li>
        <li><a href="/accounts/create">Create an account</a></li>
    </ul>
{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <title>Bank Application</title>
    
</head>
<body>
    <h1>Welcome to the Bank Application</h1>
    <p>Choose an action:</p>
    <ul>
</body>
</html>
